.image{
    position: relative;
    text-align: center;
}
.image img{
    width: 100vh;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
}
.overlay .title h1{
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.date{
    margin: 15px 10px;
}
.sections{
    width: 60%;
    margin: 0 auto;
}
.section{
    text-align: justify;
}
.section .title h2{
    font-size: 40px;
    padding: 50px 10px;
    font-weight: bold;
}
.section .body{
    font-size: 24px;
    padding: 10px;
}
@media screen and (max-width:1150px) {
    .image img{
        width: 100%;
    }
    .overlay{
        width: 80%;
    }
    .overlay .title {
        font-size: 28px;
    }
    .section .title{
        font-size: 22px;
    }
    .section .body{
        font-size: 18px;
    }
}
@media screen and (max-width:767px) {
    .image img{
        width: 100%;
    }
    .overlay{
        width: 80%;
        padding: 30px;
    }
    .overlay .title {
        font-size: 26px;
    }
    .section .title{
        font-size: 20px;
        padding: 20px 5px;
    }
    .sections{
        width: 80%;
    }
    .section .body{
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (max-width:550px) {
    .image img{
        width: 100%;
    }
    .overlay{
        width: 60%;
        padding: 15px;
    }
    .overlay .title {
        font-size: 18px;
    }
    .sections{
        width: 90%;
    }
    .section .title{
        font-size: 18px;
        padding: 20px 5px;
    }
    .section .body{
        font-size: 14px;
        padding: 5px;
    }
}