.image{
    position: relative;
    text-align: center;
}
.articleDetail .image img, .section img{
    width: 100vh;
}
.articleDetail .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
}
.articleDetail .overlay .title h1{
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.otherArticles h2{
    padding: 10px;
}
.articles{
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
}
.imageSource{
    color: var(--white);
    font-size: 10px;
    text-align: center;
}
.sections{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 80px;
}
.sections .date{
    font-size: 12px;
}
.section{
    text-align: justify;
}
.section .title h2{
    font-size: 40px;
    padding: 50px 0px;
    font-weight: bold;
}
.section .body{
    font-size: 24px;
    padding: 10px 0px;
}

.section .link{
    background-color: var(--primary-lighter);
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
}
@media screen and (max-width:1950px) {
    .image img{
        width: 100%;
    }
}
@media screen and (max-width:1580px) {
    .image img{
        width: 100%;
    }
    .articleDetail .image img{
	width: 70%;
    }
}
@media screen and (max-width:1150px) {
    .image img{
        width: 100%;
    }
    .articleDetail .overlay{
        width: 80%;
    }
    .articleDetail .overlay .title h1{
        font-size: 28px;
    }
    .section .title h2{
        font-size: 22px;
    }
    .section .body{
        font-size: 18px;
    }
}
@media screen and (max-width:767px) {
    .articleDetail .image img{
        width: 100%;
    }
    .articleDetail .overlay{
        width: 80%;
        padding: 30px;
    }
    .articleDetail .overlay .title h1{
        font-size: 26px;
    }
    .section .title h2{
        font-size: 20px;
        padding: 20px 5px;
    }
    .sections{
        width: 80%;
    }
    .sections .date{
        margin: 5px;
    }
    .section .body{
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (max-width:550px) {
    .articleDetail .image img{
        width: 100%;
    }
    .articleDetail .overlay{
        width: 60%;
        padding: 15px;
    }
    .articleDetail .overlay .title h1{
        font-size: 18px;
    }
    .sections{
        width: 95%;
    }
    .section .title h2{
        font-size: 18px;
        padding: 20px 5px;
    }
    .section .body{
        font-size: 14px;
        padding: 5px;
    }
}
