.image{
    position: relative;
    text-align: center;
}
.articleDetail .image img, .section img{
    width: 60%;
    margin-top: 20px;
    border-radius: 30px;
}
.otherArticles h2{
    padding: 10px;
}
.articles{
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
}
.imageSource{
    color: var(--white);
    font-size: 10px;
    text-align: center;
}
.sections{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 80px;
}
.sections .title{
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
}
.sections .date{
    font-size: 14px;
    padding: 10px 0px;
}
.section{
    text-align: justify;
}
.section .title h2{
    font-size: 32px;
    padding: 40px 0px;
    font-weight: bold;
}
.section .body{
    font-size: 26px;
    padding: 15px 0px;
}

.section .link{
    background-color: var(--black);
    text-align: center;
    padding: 20px 0px;
    border-radius: 30px;
    color: var(--white);
}
@media screen and (max-width:1950px) {
    .articleDetail .image img, .section img{
        width: 70%;
    }
    .sections .image img{
        width: 100%;
    }
}
@media screen and (max-width:1580px) {
    .sections .image img{
        width: 70%;
    }
    .sections .title{
        font-size: 20px;
    }
}
@media screen and (max-width:1150px) {
    .articleDetail .image img, .section img{
        width: 99%;
    }
    
    .section .title h2{
        font-size: 22px;
    }
    .section .body{
        font-size: 18px;
    }
}
@media screen and (max-width:767px) {
    .sections .title{
        font-size: 18px;
    }
    .section .title h2{
        font-size: 20px;
        padding: 20px 5px;
    }
    .sections{
        width: 80%;
    }
    .sections .date{
        margin: 5px;
    }
    .section .body{
        font-size: 12px;
        padding: 5px;
    }
    .section .link{
        font-size: 12px;
    }
}
@media screen and (max-width:550px) {
    .sections .title{
        font-size: 14px;
    }
    .sections{
        width: 95%;
    }
    .section .title h2{
        font-size: 14px;
        padding: 20px 5px;
    }
    .section .body{
        font-size: 13px;
        padding: 5px;
    }
}
