:root {
    --primary: #1d1d1d;
    --primary-lighter: #3b3b3b;
    --black: #000000;
    --white: #ffffff;
    --red: #ee7575;
    --online: rgba(191, 245, 160, 0.2);
    --offline: rgba(245, 160, 160, 0.2);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
/* Track */
*::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 10px;
  
  }
   
  /* Handle */
 *::-webkit-scrollbar-thumb {
    background: var(--primary-lighter);
    border-radius: 10px;
  }
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-lighter);; 
  }
a{
    text-decoration: none;
}
body{
    background-color:var(--primary);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
}
main{
    min-height: 100vh;
}
.backBtn{
    position: fixed;
    top: 10px;
    left: 2%;
    width: 30px;
    fill: white;
}
header svg{
    fill: white;
    width: 30px;
    margin: 20px 0px;
}
.links{
    text-align: center;
    padding: 10px;
}
header .link{
    text-decoration: none;
    padding: 30px 30px;
}
.link:hover{
    opacity: 80%;
}
.errorMessage{
    text-align: center;
    padding: 10px;
}

.navbar .title{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.delete{
    text-align: center;
    padding: 20px;
}
.delete a{
    color: var(--red);
}
.active svg{
    fill: var(--primary-lighter);
}
footer{
    background-color: var(--primary-lighter);
    text-align: end;
    margin-top: 50px;
    padding: 15px;
}
#online{
    background-color: var(--online)
}
#offline{
    background-color: var(--offline)
}