form{
    text-align: center;
    background-color: var(--primary-lighter);
    padding: 20px;
    margin-bottom: 10px;
}
form .title{
    font-size: 30px;
    color: var(--white);
    padding: 20px;
}
input, select, button, option, textarea{
    padding: 10px;
    width: 250px;
    margin: 15px;
    color: white;
    background-color: var(--primary);
    border: none;
}
.hidden{
    height: 300px;
}
.loginForm svg{
    width: 20px;
    fill: var(--primary);
}
.loginForm img{
    width: 250px;
}
input{
    width: 230px;
}
#longInput input{
    width: 510px;
}
textarea{
    resize: none;
}
label{
    display: none;
}
button:hover{
    opacity: 80%;
}
.lines{
    text-align: center;
    width: 100%;
}
.line{
    display: inline-flex;
}
#body{
    display: block;
}
#body textarea{
    width: 80%;
    height: 200px;
}
.imageList table{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.imageList img{
    width: 250px;
}

@media screen and (max-width:620px) {
    .line1, .line2, .line3, .line4{
        display: block;
    }
    #longInput input, input, #body textarea{
        width: 90%;
    margin: 5px;

    }
    select{
        width: 96%;
    margin: 5px;

    }
}
