.logoCard{
    display: grid;
    place-items: center;
    margin-top: 30vh;
}
.logo{
    width: 100%;
    text-align: center;
    background-color: var(--primary-lighter);
}
.logo img{
    width: 50%;
}
.logoCard .searchbar{
    padding: 30px;
}
.logoCard .label{
    color: var(--primary-lighter);
    padding: 10px 0px ;
}
.logoCard input{
    padding: 10px;
    width: 50vh;
    color: white;
    background-color: var(--primary-lighter);
    border: none;
}
.articles{
    text-align: center;
    margin: 30px;
}
.articles .title{
    padding: 10px;
    font-size: 24px;
}
.article{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.card{
    width: 350px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid var(--primary-lighter);
    position: relative;
}
.card .title p{
    text-align: justify;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.card .date p{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 10px;
    color: var(--primary-lighter);
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card:hover{
    opacity: 80%;
}
