.logoCard{
    display: grid;
    place-items: center;
    margin-top: 30vh;
}
.logo{
    width: 100%;
    text-align: center;
    background-color: var(--primary-lighter);
}
.logo img{
    width: 50%;
}
.logoCard .searchbar{
    padding: 30px;
}
.logoCard .label{
    color: var(--primary-lighter);
    padding: 10px 0px ;
}
.logoCard input{
    padding: 10px;
    width: 50vh;
    color: white;
    background-color: var(--primary-lighter);
    border: none;
}
.articles{
    text-align: center;
}
.article{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.card{
    width: 350px;
    min-height: 280px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid var(--primary-lighter);
    position: relative;
    padding: 10px;
}
.card .categorie {
    text-align: left;
    padding: 10px 0px;
    font-size: 16px;
}
.card .categorie p{
    color: var(--white);
}
.card .title p{
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.card .date p{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 10px;
    color: var(--white);
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#more{
    background-color: var(--primary-lighter);
}
#more p{
    padding: 20px 0px;
}
#more svg{
    fill: var(--white);
    height: 80px;
    padding-top: 25%;
}
.card:hover{
    opacity: 80%;
}
@media screen and (max-width:767px) {
    .logoCard input{
        width: 30vh;
    }
    .card{
        width: 300px;
    }
    .card .title p{
        font-size: 16px;
    }
    .card .date p{
        font-size: 8px;
    }
    .card img{
        width: 100%;
    }
}
@media screen and (max-width:550px) {
    .logoCard input{
        width: 25vh;
    }
}