{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
Admin {{user.firstname}} {{user.lastname}}
<a href="{{path('logout')}}">logout</a>
{% endblock %}
