.articles{
    text-align: center;
    background-color: var(--primary-lighter);
    padding: 10px;
}
.article{
    padding: 10px;
    border-radius: 50px;
    margin: 10px 0px;
}
.article a{
    text-decoration: none;
}
.article:hover{
}