.categories{
    text-align: center;
    padding: 20px;
}
.categories .name {
    color: white;
    text-decoration: none;
}
.categories .categorie{
    padding: 50px;
    background-color: var(--primary-lighter);
    color: var(--white);
    margin: 10px;
    width: 20%;
    display: inline-block;
    border-radius: 30px;
}
.categorie:hover{
    opacity: 80%;
}
.categorie .nbr{
    color: white;
}
.topArticles .articles{
    margin-bottom:20px
}
.topArticles .article{
    width: 32%;
    margin: 10px 0px;
}

@media screen and (max-width:620px) {
    .categories .categorie{
        width: 70%;
        margin: 5px 0px;
    }
    .article{
        width: 99%;
    }
    
}