.categories{
    text-align: center;
    padding: 20px;
}
.categories a{
    color: white;
    text-decoration: none;
}
.categories .categorie{
    padding: 50px;
    background-color: var(--primary-lighter);
    color: var(--white);
    margin: 10px;
    width: 20%;
    display: inline-block;
    border-radius: 30px;
}
.categorie:hover{
    opacity: 80%;
}

@media screen and (max-width:620px) {
    .categories .categorie{
        width: 70%;
        margin: 5px 0px;
    }
    
}