.categories{
    background-color: var(--primary-lighter);
    text-align: center;
    padding: 20px;
}
.categories a{
    color: white;
    text-decoration: none;
}
.categorie{
    padding: 50px;
    background-color: var(--primary);
    margin: 10px;
    width: 20%;
    display: inline-block;
}
.categories a:hover{
    opacity: 80%;
}

@media screen and (max-width:620px) {
    .categorie{
        width: 70%;
        margin: 5px 0px;

    }
    
}