@font-face {
    font-family: 'Barlow';
    src: url('/font/BarlowCondensed-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.boxes{
    background-color: var(--primary-lighter);
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
}
.box{
    display: inline-block;
    padding: 50px;
    margin: 20px;
    background-color: var(--primary);
    border-radius: 30px;
}
p{
    color: var(--white);

}
.title{
    text-align: center;
}
.title h2{
    padding: 20px 0px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Barlow';
}
.box h1{
    padding: 15px;
}
.stats{
    text-align: center;
}
.charts{
    text-align: center;
}
#chart1{
    background-color: var(--white);
    border-radius: 30px;
    width: 55%;
}
#chart2{
    width: 40%;
}
.chart{
    margin: 0px 10px;
    display: inline-block;
    vertical-align: top;
}
.column{
    width: 100%;
    background-color: var(--white);
    border-radius: 30px;
    margin: 0px;
    margin-bottom: 10px;
}
.card{
    width: 100%;
    height: 250px;
    margin: 0px;
}
.card .infos{    
    text-align: center;
}
.card .title p{
    font-size: 16px;
}
.card .categorie p{
    font-size: 10px;
}
.nbr p{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.country{
    background-color: var(--primary-lighter);
    border-radius: 30px;
    text-align: center;
    margin: 5px 5px;
}
.country img{
    width: 100px;
    height: 60px;
    border-radius: 30px;
    margin: 10px;
}
.categories{
    padding: 0px;
}
.categories .categorie{
    padding: 50px 0px;
    margin: 0px;
    width: 100%;
}
.lastVisits{
    background-color: var(--white);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.detailChart{
    text-align: center;
    height: 500px;
    overflow: scroll;
    width: 100%;
}
.option{
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    color: var(--primary-lighter);;
}
#country{
    width: 50px;
}
@media screen and (max-width: 1250px) {
    .option{
    width: 20%;
    font-size: 10px;
    }
    #ip{
        width: 10%;
    }
    #country{
        width: 8%;
    }
}
@media screen and (max-width: 970px) {
    .option{
        width: 20%;
        font-size: 8px;
    }
    #chart1{
        width: 95%;
    }
    #chart2{
        width: 95%;
    }
}

@media screen and (max-width: 760px) {
    .box{
        width: 75%;
        margin: 10px 0px;
    }
    .option{
        width: 15%;
        font-size: 8px;
    }
}
