{% extends 'base.html.twig' %}

{% block head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block stylesheets %}
        <link href="{{ asset('css/error/error.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<section>
    <div class="title">
        <p>404</p>
    </div>
    <div class="subTitle">
        Page introuvable
    </div>
    <div class="toHome">
        <a href="{{ path('home') }}">menu principal</a>
    </div>
</section>
{% endblock %}